<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>

<body class="container">
    <header>
        <h1 class="display-4">
            <%= data.title %>
        </h1>
    </header>
    <div role="main">
        <p class="h4">Welcome to
            <%= data.login.name %>.</p>
        <% if (data.err!=null) { for (let i in data.err.errors) { %>
            <li>
                <%= data.err.errors[i].message %>
            </li>
            <% }} %>
                <form method="post" action="/events/update/<%= data.event.id %>">
                    <div class="row">
                        <div class="col-10  input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">タイトル</span>
                            </div>
                            <input type="text" name="title" value="<%= data.event.title %>" class="form-control">
                            <ul class="text-danger">
                                <% if (data.err!=null) { for (let i in data.err.get("title")) { %>
                                    <li>
                                        <%= data.err.get("title")[i].message %>
                                    </li>
                                <% }} %>
                            </ul>
                        </div>
                        <div class="col-10 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">本文</span>
                            </div>
                            <textarea type="text" name="detail" class="form-control" rows="10"><%= data.event.detail %></textarea>
                            <ul class="text-danger">
                                <% if (data.err!=null) { for (let i in data.err.get("detail")) { %>
                                    <li>
                                        <%= data.err.get("detail")[i].detail %>
                                    </li>
                                <% }} %>
                            </ul>
                        </div>
                        <div class="col-10 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">タグ</span>
                            </div>
                            
                            <% let tagList = [] %>
                            <% if (data.event.Tag!=null) { for (let i in data.event.Tag) { %>
                                <% tagList.push(data.event.Tag[i].name) %>
                            <% }} %> 
                            <div>
                                <input name='tags' class='form-control' placeholder='' value='<%= tagList %>' autofocus>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="送信" class="btn btn-primary col-2">
                        </div>
                    </div>
                </form>
    </div>
    <p class="h5"><a href="/events">＜＜掲示板リストに戻る</a></p>
</body>
<script>
    const input = document.querySelector('input[name=tags]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
            whitelist : ["A# .NET", "A# (Axiom)"],
            blacklist : ["react", "angular"]
        });
    
    // "remove all tags" button event listener
    document.querySelector('.tags--removeAllBtn')
        .addEventListener('click', tagify.removeAllTags.bind(tagify))
    
    // Chainable event listeners
    tagify.on('add', onAddTag)
          .on('remove', onRemoveTag)
          .on('invalid', onInvalidTag);
    
    // tag added callback
    function onAddTag(e){
        console.log(e, e.detail);
        console.log( tagify.DOM.originalInput.value )
        tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
    }
    
    // tag remvoed callback
    function onRemoveTag(e){
        console.log(e, e.detail);
    }
    
    // invalid tag added callback
    function onInvalidTag(e){
        console.log(e, e.detail);
    }
</script>

</html>