<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <header>
        <h1 class="display-4">
            <%= data.title %>
        </h1>
    </header>
    <div role="main">
        <p class="h4">Welcome to
            <%= data.login.name %>.</p>
    </div>
    <div class="col-9 col-xs-12">
        <div class="font-weight-bold">イベント一覧</div>
        <div class="row">
            <% for(let i in data.content) { %>
                <div class="col" style="padding-bottom: 2rem;">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="events/show/<%= data.content[i].id %>">
                                    <%= data.content[i].title %>
                                </a>
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <% 
                                hart_color = false;
                                for(let n in data.content[i].User) { 
                                    if (data.content[i].User[n].id == data.login.id){
                                        hart_color = true;
                                    };
                                };
                            %>
                            <%if (hart_color == true) {%>
                                <p>参加人数:参加してます
                                    <%= data.content[i].User.length %>
                                </p>
                            <% } %>
                            <%if (hart_color == false) {%>
                                <p>参加人数:参加してません
                                    <%= data.content[i].User.length %>
                                </p>
                            <% } %>
                            
                            <%if (data.content[i].userId == data.login.id) {%>
                            <a href="events/edit/<%= data.content[i].id %>" class="btn btn-primary">編集する</a>
                            <% } %>
                            <%if (data.content[i].userId == data.login.id) {%>
                                <a href="events/delete/<%= data.content[i].id %>" class="btn btn-primary">削除する</a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    </div>


</body>

</html>